# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.env

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env.*

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log
